<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User, welcome spring boot security page!</h1>

<table border="1">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Role</th>


    </tr>
    <tr >
        <td th:text="*{users.getFirstname()}"></td>
        <td th:text="${users.getLastname()}"></td>
        <td th:text="${users.getAge()}"></td>
        <td th:each="role : ${users.roles}">
            <span th:text="${role.getRole()}"></span>
        </td>

    </tr>
</table>
<a href="/logout">Logout</a>
</body>
</html>